{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block title %}비밀번호 초기화{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-header">
                <h3 class="card-title">비밀번호 초기화</h3>
            </div>
            <div class="card-body">
                <p class="card-text">비밀번호를 잊으셨나요? 가입 시 사용한 이메일 주소를 입력하시면, 비밀번호를 재설정할 수 있습니다.</p>
                <form method="post" action="{% url 'tm_account:custom_password_reset' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100 mt-3">비밀번호 재설정</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <small><a href="{% url 'account_login' %}">로그인 페이지로 돌아가기</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}