{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-header">
                <h3 class="card-title">Create Your Account</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary w-100 mt-3">Sign Up</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <small>Already have an account? <a href="{% url 'tm_account:login' %}">Log In</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}