{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'tm_begin:index' %}">Ttiglemoa</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'tm_begin:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tm_begin:about' %}">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ???ы듃?대━??
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'tm_assets:allocation' %}">?먯궛鍮꾩쑉</a></li>
            <li><a class="dropdown-item" href="{% url 'tm_assets:deposits_list' %}">?덉쟻湲?/a></li>
            <li><a class="dropdown-item" href="{% url 'tm_assets:stocks_list' %}">二쇱떇</a></li>
            <li><a class="dropdown-item" href="{% url 'tm_assets:bonds_list' %}">梨꾧텒</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'tm_assets:create_deposit' %}">?덉쟻湲?異붽?</a></li>
            <li><a class="dropdown-item" href="{% url 'tm_assets:create_stock' %}">二쇱떇 異붽?</a></li>
            <li><a class="dropdown-item" href="{% url 'tm_assets:create_bond' %}">梨꾧텒 異붽?</a></li>
            <li>My Portfolio</li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">二쇱떇?꾪솴</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tm_begin:stock_news' %}">?댁뒪</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">而ㅻ??덊떚</a>
        </li>
      </ul>

      <form class="d-flex me-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
        {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link d-flex align-items-center" href="{% url 'tm_account:profile' %}">
                  {% if user.profile_image %}
                      <img src="{{ user.profile_image.url }}" alt="Profile Image" class="rounded-circle me-2" width="30" height="30" style="object-fit: cover;">
                  {% else %}
                      <img src="{% static 'images/avatars/avatar2.svg' %}" alt="Default Avatar" class="rounded-circle me-2" width="30" height="30">
                  {% endif %}
                  ???꾨줈??({{ user.nickname }})
              </a>
          </li>
          <li class="nav-item ms-2">
            <form action="{% url 'tm_account:logout' %}" method="post" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-secondary btn-sm">濡쒓렇?꾩썐</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item me-2">
            <a href="{% url 'tm_account:login' %}">
              <button class="btn btn-outline-primary btn-sm">濡쒓렇??/button>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'tm_account:signup' %}">
              <button class="btn btn-primary btn-sm">?뚯썝媛??/button>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>



