:root {
  --bs-primary: #007bff;
  --bs-secondary: #6c757d;
  --bs-success: #ffc107; /* yellow */
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107; /* yellow */
  --bs-danger: #ffc107; /* yellow */
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}



.btn-secondary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-secondary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
